#game-board {
  width: 600px;
  height: 600px; }

.reversi-board-cell {
  transition: opacity 800ms; }
  .reversi-board-cell:hover {
    opacity: .8; }

.reversi-piece-black, .reversi-piece-white, .reversi-piece-selected {
  transition: stroke-width 400ms; }
  .reversi-piece-black:hover, .reversi-piece-white:hover, .reversi-piece-selected:hover {
    opacity: .9; }

.reversi-piece-black {
  background-color: black;
  stroke: white;
  stroke-width: 0.1px;
  stroke-dasharray: 2; }
  .reversi-piece-black:hover {
    stroke-width: 0.4px; }

.reversi-piece-white {
  background-color: white;
  stroke: black;
  stroke-width: 0.1px;
  stroke-dasharray: 2; }
  .reversi-piece-white:hover {
    stroke-width: 0.4px; }

.reversi-piece-selected {
  stroke-width: 0.6px; }
  .reversi-piece-selected:hover {
    stroke-width: 0.6px; }
