<div id="login-area">
    {{#if messageModel.hasMessage}}
        <span>{{messageModel.message}}</span>
    {{/if}}
    <form id="login-form">
        <ul>
            <li>
                <label>
                    Username:
                    <input type="text" name="username">
                </label>
            </li>
            <li>
                <label>
                    Password:
                    <input type="password" name="password">
                </label>
            <li>
                <input type="submit" value="Login" class="btn btn-primary">
            </li>
        </ul>
    </form>
</div>