$stroke-width: .1px;
$stroke-width-hover: .4px;
$stroke-width-selected: .6px;

#game-board {
  width: 600px;
  height: 600px;
}

.reversi-board-cell {
  transition: opacity 800ms;

  &:hover {
    opacity: .8;
  }
}

//  <piece-area>

@mixin reversi-piece($background-colour, $stroke-colour) {
  background-color: $background-colour;

  stroke: $stroke-colour;
  stroke-width: $stroke-width;
  stroke-dasharray: 2;

  &:hover {
    stroke-width: $stroke-width-hover;
  }
}

%reversi-piece {
  transition: stroke-width 400ms;

  &:hover {
    opacity: .9;
  }
}

.reversi-piece-black {
  @extend %reversi-piece;
  @include reversi-piece(black, white);
}

.reversi-piece-white {
  @extend %reversi-piece;
  @include reversi-piece(white, black);
}

.reversi-piece-selected {
  @extend %reversi-piece;

  stroke-width: $stroke-width-selected;

  &:hover {
    stroke-width: $stroke-width-selected;
  }
}

//  </piece-area>