<section id="game-start-controls">
    <button id="new-game-button" class="btn btn-primary">Start new game</button>
    <button onclick="Reversi.reloadLobbies()" class="btn btn-default">Refresh lobbies</button>
</section>

<section id="lobby-list">
    {{{lobbyList}}}
</section>

<section id="game-board">
    {{{gameBoard}}}
</section>