@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div>
    <h2>Login</h2>
    <form id="login-form" method="post">
        <label for="username-input">Username:</label><input id="username-input" type="text"/>
        <br/>
        <label for="password-input">Password:</label><input id="password-input" type="password"/>
    </form>
</div>